@model PagedList.IPagedList<Model.EF.ProductCategory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
@{ ViewBag.Title = "Quản lý content"; Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml"; }
@section header{
    Danh sách danh mục sản phẩm!
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form action="~/Admin/ProductCategory/Create">
            <input type="submit" class="btn btn-primary btn-user" value="Thêm mới" />
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Thay đổi</th>
                        <th>Tên</th>
                        <th>Id danh mục</th>
                        <th>Thẻ tiêu đề</th>
                        <th>Parent ID</th>
                        <th>Display Order</th>
                        <th>Seo Title</th>
                        <th>Trạng thái</th>
                        <th>Hiện trên trang chủ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.id">
                        <td>
                            <a href="~/Admin/ProductCategory/Edit/@item.id">Sửa</a>
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.id }, new AjaxOptions
                       {
                           Confirm = "ban có chắc chắn xóa không?",
                           OnComplete = "$('row_" + @item.id + "').remove()",
                           OnSuccess = "window.location.reload()",
                           HttpMethod = "Delete"
                       })
                        </td>
                        <td>@item.name</td>
                        <th>@item.id</th>
                        <td>@item.metaTitle</td>
                        <td>@item.parentID</td>
                        <td>@item.displayOrder</td>
                        <td>@item.seoTitle</td>
                        <td>@item.status</td>
                        <td>@item.showOnHome</td>

                    </tr>

                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>


