@using PagedList.Mvc;
@using PagedList;
@using CarShowroom.Models;
@using Model.EF;
@model PagedList.PagedList<Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Index1{
    <div class="page-heading about-heading header-text" style="background-image: url(); background-image: url('../../Content/images/heading-1-1920x500.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2 style="color:crimson;">TIN TỨC</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />

@foreach (var item in Model)
{
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="service-item">
                                <a href="blog-details.html" class="services-item-image"><img src="@Url.Content(item.image)" /></a>

                                <div class="down-content">
                                    <h4><a href="blog-details.html">@item.description</a></h4>

                                    <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; @item.topHot &nbsp;&nbsp;|&nbsp; @item.status</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))