@model Model.EF.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = (CarShowroom.Models.MoreProductImage)ViewBag.Item;

}

<div class="page-heading about-heading header-text" style="background-image: url(@Model.image.Substring(1));">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>
                        <span>
                            @if (Model.promotionPrice != null)
                            {
                                <del>@(Model.price.Value.ToString("N0")+" VND")</del> <strong class="text-primary">  @(Model.promotionPrice.Value.ToString("N0")+" VND")</strong>
                            }
                            else
                            {

                                @(Model.price.HasValue ? Model.price.Value.ToString("N0") + " VND" : "Liên hệ: 0917946616");
                            }
                        </span>
                    </h4>
                    <h2>@Model.name</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    @*<img src="@Model.image" alt="" class="img-fluid wc-image">*@
                    <img src="@Url.Content(Model.image)" alt="" class="img-fluid wc-image" />
                </div>
                <br>
                @if (item != null)
                {
                    <div class="row">
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img1)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img2)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img3)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img4)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img5)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="@Url.Content(item.img6)" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                            </div>
                            <br>
                        </div>
                    </div>
                }
                else
                {

                }

                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                        <img id="img01" style="width:100%">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form action="#" method="post" class="form">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Loaị xe</span>

                                <strong class="pull-right">@Model.loaiXe</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Loại thùng</span>

                                <strong class="pull-right">@Model.loaiThung</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left"> Tải trọng</span>

                                <strong class="pull-right">@Model.taiTrong</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Năm sản xuất</span>

                                <strong class="pull-right">@Model.namSX</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Hình thức</span>

                                <strong class="pull-right">@Model.nhapKhau</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Loại nhiên liệu</span>

                                <strong class="pull-right">@Model.nhienLieu</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Loại hộp số</span>

                                <strong class="pull-right">@Model.hopSo</strong>
                            </div>
                        </li>


                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Mô tả sả phẩm</h2>
                </div>

                <div class="left-content">
                    <p>@Model.description</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Giá:</h2>

                </div>
                <div>
                    <h2>
                        @if (Model.promotionPrice != null)
                        {
                            <del>@(Model.price.Value.ToString("N0")+" VND")</del> <strong class="text-primary">  @(Model.promotionPrice.Value.ToString("N0")+" VND")</strong>
                        }
                        else
                        {

                            @(Model.price.HasValue ? Model.price.Value.ToString("N0") + " VND" : "Liên hệ: 0917946616");
                        }
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>
